.input-wrapper {
  margin-top: 40px;
}

.container {
  width: 1200px;
  height: 596px;
  overflow: hidden;
  overflow-y: scroll;
  border: 2px solid gray;
}

.table {
  width: 1200px;
  overflow-x: auto;
  text-align: left;
  border-collapse: collapse;
}

td {
  height: 30px;
}

.wrapper {
  width: 1200px;
  text-align: center;
}
